@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
* {
  font-family: "Barlow Semi Condensed", sans-serif;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background: radial-gradient(circle, #1f3756, #141539);
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 95%;
}
.container .score {
  display: flex;
  width: 80%;
  height: 10rem;
  align-items: center;
  justify-content: space-around;
  border: 5px solid #606e85;
  border-radius: 15px;
}
.container .score .score-board {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 70%;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  color: #2a46c0;
  border-radius: 15px;
}
.container .score .score-board p {
  margin: 0;
  font-size: 52px;
  font-weight: 800;
  color: #3b4363;
}
.container .score .score-board h3 {
  font-size: 16px;
  margin: 0 0 -20px 0;
}
.container .score .title {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 40%;
  padding: 0;
}
.container .score .title li {
  margin: 0 0 -8px 0;
  font-size: 32px;
  font-weight: 800;
  color: white;
}
.container .buttons {
  margin-top: 3rem;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .buttons .paper-scissors {
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .buttons .paper-scissors #paper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 120px;
  background: white;
  border-radius: 100%;
  border: 10px solid #4865f4;
  transition: all 0.5s ease;
}
.container .buttons .paper-scissors #scissor {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 120px;
  background: white;
  border-radius: 100%;
  border: 10px solid #ec9e0e;
  transition: all 0.5s ease;
}
.container .buttons .paper-scissors :hover {
  filter: drop-shadow(0 0 0.55rem white);
}
.container .buttons .rock-container #rock {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 120px;
  background: white;
  border-radius: 100%;
  border: 10px solid #dc2e4e;
  transition: all 0.5s ease;
}
.container .buttons .rock-container :hover {
  filter: drop-shadow(0 0 0.55rem white);
}

@media only screen and (min-width: 600px) {
  body {
    display: flex;
    justify-content: center;
  }

  .container {
    width: 50%;
  }
  .container .paper-scissors {
    justify-content: space-around !important;
  }
  .container .score-board {
    flex-direction: row !important;
    align-content: center;
    justify-content: center;
  }
  .container .score-board h3 {
    margin: 0 !important;
  }
}

/*# sourceMappingURL=index.css.map */
